.staff-main{
    display: flex;
    justify-content: center;
    align-items: center;
}



th, td{
    padding: 1rem;
}




.staff-title{
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.space{
    height: 10vh;
}